<div class="row">
    <div class="col-md-6">
        <div class="card">
            <img (click)="openModalWithComponent()" [src]="linkImage" class="card-img-top btn" alt="...">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">DÍAS FELICES</h5>
                <p class="card-text">$840.00 MXN</p>
                <p class="card-text"><small class="text-muted">Una salida juntos, ir a cenar, al cine , viajar o un pícnic en el parque ... esos y más son días felices.</small></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">Especificaciones</h5>
                <h6 class="card-subtitle mb-2 text-muted">Medidas</h6>
                <p class="card-text">25X15CMS, ALTO Y ANCHO</p>
                <h6 class="card-subtitle mb-2 text-muted">FLORES PRINCIPALES</h6>
                <ul>
                    <li>
                        6 ROSAS
                    </li>
                    <li>
                        CLAVELES
                    </li>
                    <li>
                        BONITO FOLLAJE
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>