<div class="container mt-4">
    <div class="card">
        <h3 class="card-header text-center bg-success text-white">¿Quienes somos?</h3>
        <div class="card-body">
            <div>
                <p class="card-text">"Somos un negocio con más de 20 años de experiencia, con nosotros encontrarás lo mejor en diseño floral, ven y conoce nuestro trabajo."</p>
            </div>
        </div>
        <h3 class="card-header text-center bg-success text-white">Misión</h3>
        <div class="card-body">
            <div>
                <p class="card-text">
                    Ofrecer los mejores arreglos con la mejor calidad, mejorando diariamente nuestros controles de calidad.
                </p>
                <u>
                    <li>Ofrecer el mejor producto con el respaldo de  nuestros proveedores.</li>
                    <li>Esforzarnos al máximo para ofrecer el mejor servicio del mercado.</li>
                    <li>Ofrecer a la sociedad los mejores productos al mejor precio.</li>
                    <li>Ofrecer las mejores condiciones de trabajo para nuestro personal.</li>
                </u>
            </div>
        </div>
        <h3 class="card-header text-center bg-success text-white">Valores</h3>
        <div class="card-body">
            <div>
                <p class="card-text">
                    Nuestros principales valores son:
                </p>
                <table>
                    <tr>
                        <td scope="row">Experiencia</td>
                        <td>De más de 20 años en el diseño floral de alta calidad. Contamos con los mejores floristas de México.</td>
                    </tr>
                    <tr>
                        <td scope="row">Confiabilidad</td>
                        <td>De tener a tu alcance el más completo servicio de entrega. Solo nosotros contamos con el mejor personal, equipo y tecnología.</td>
                    </tr>
                    <tr>
                        <td scope="row">Garantía de imagen</td>
                        <td>Pues nuestro compromiso es enviar tu arreglo tal y como lo viste en internet.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>