<div class="col-md-12 color-vino">
    <div class="text-center">
        <a href="#">
            <img src="assets/img/logo.png" class="" height="180" alt="logo">
        </a>
        <h4 class="font-weight-bolder">Floristería La Plazuela</h4>
    </div>
    <div class="color-vino text-center">

        <nav ngxNavbarDynamicExpand class="navbar-dark bg-dark color-vino">
            <!-- <a class="navbar-brand" href="#"></a> -->

            <button class="navbar-toggler" type="button" (click)="collapse.toggle()" aria-controls="main-nav" aria-expanded="false" aria-label="Navigáció kapcsoló">
                  <span class="navbar-toggler-icon d-flex align-items-center justify-content-center">
                  </span>
                </button>
            <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="vertical-align: baseline;">
                        <a class="nav-link" href="#"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Flores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Regalos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Funerarios</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" class="nav-link dropdown-toggle btn" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true">
                          Motivo
                        </a>
                        <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true" class="dropdown-menu color-vino border-danger" aria-labelledby="navbarDropdownMenuLink">
                            <a *ngFor="let reason of reasons; let i=index" class="dropdown-item" href="#">{{reason}}</a>
                        </div>
                    </li>
                </ul>
            </ngx-navbar-collapse>
        </nav>
    </div>
</div>