<div class="container">
    <div *ngFor="let arreglo of arreglos" class="card">
        <div class="imgBox" style="position: relative !important;">
            <img [src]="arreglo.img" [alt]="arreglo.title">
            <div class="img-label text-white font-weight-bold d-flex align-items-center justify-content-center text-center">
                <div class="title-img">{{arreglo.title}}</div>
            </div>
        </div>
        <div class="details d-flex h-100">
            <div class="row justify-content-center align-items-center">
                <div class="col-12">
                    <h5 class="text-center">{{arreglo.title}}</h5>
                </div>
                <div class="col-12">
                    <p class="text-center font-weight-bold">{{arreglo.price}}</p>
                </div>
                <div class="col-12 text-center">
                    <button type="button" (click)="showDetails()" class="btn btn-warning">Detalles</button>
                </div>
            </div>
        </div>
    </div>
</div>