p,
a,
span {
    color: goldenrod !important;
}

hr {
    background-color: goldenrod !important;
}

h4 {
    color: white !important;
}

.color-vino {
    background-color: rgb(97, 5, 36) !important;
}