<div class="color-vino mt-5">
    <div class="row col-md-12 container">
        <div class="col-md-4 mt-3">
            <h4>Dirección</h4>
            <p>{{data.address}}</p>
        </div>

        <div class="col-md-4 mt-3">
            <h4>Horario:</h4>
            <p *ngFor="let schedule of data.schedule">{{schedule}}</p>
        </div>

        <div class="col-md-4 mt-3">
            <h4>Contáctanos</h4>
            <p *ngFor="let phone of data.telephonenumbers">
                <i class="fas fa-phone-square"></i> Tel: {{phone}}
            </p>
            <p *ngFor="let email of data.email">
                <i class="fas fa-at"></i><a [href]="'mailto:' + email"> {{email}}</a>
            </p>
            <h5 class="text-white mt-1">Siguenos en:</h5>
            <span>
                <i class="fab fa-facebook-square"></i><a [href]="data.socialnetworks['facebook']" target="_blank"> Facebook</a>
            </span>
        </div>
    </div>
    <hr>
    <div class="row col-md-12 text-white justify-content-center">
        <p class="mt-3">&copy; {{year}} {{data.pagetitle}}. Todos los Derechos Reservados</p>
    </div>
</div>